.header{
    display:flex;
    justify-content:space-between;
    margin: 10px
}



.headerMenu a{
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: blue;
    font-size: 18px; 
    letter-spacing: 1.0px;
}